* { box-sizing: border-box;}
.Aboutstyle{
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
    transform: translateY(50%);
}
.Aboutstyle h1{
    font-size: 30px;
    text-transform: uppercase;
}
.Aboutstyle p{
    font-size: 16px;
    text-transform: capitalize;
}